---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: repowatchers.ci.gitship.io
spec:
  group: ci.gitship.io
  names:
    kind: RepoWatcher
    listKind: RepoWatcherList
    plural: repowatchers
    singular: repowatcher
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RepoWatcher is the Schema for the repowatchers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RepoWatcherSpec defines the desired state of RepoWatcher
            properties:
              branch:
                description: Branch is the branch to match
                type: string
              repoUrl:
                description: RepoURL is the URL of the repository to watch
                type: string
              webhookSecretRef:
                description: WebhookSecretRef is the reference to the secret containing
                  the webhook token
                type: string
            type: object
          status:
            description: RepoWatcherStatus defines the observed state of RepoWatcher
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
