name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run on Ubuntu
    runs-on: self-hosted
    steps:
      - name: Fix workspace permissions
        run: sudo chown -R $(whoami) ${{ github.workspace }} || true

      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          go mod tidy
          make test

      - name: Fix workspace permissions
        if: always()
        run: sudo chown -R $(whoami) ${{ github.workspace }}
